@import url("fonts.css");

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
    line-height: 26px;
}

a {
    text-decoration: none;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

/* page-header */
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -2.5px;
    line-height: 1.1;
    max-width: 600px;
    margin-bottom: 65px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav>li {
    padding: 0 15px;
}

.nav-item {
    color: #6e7ea9;
}

.btn-primary {
    background-color: #1085e4;
    border: 1px solid #1085e4;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #1085e4;
}

.btn-secondary {
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #7e8bae;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
}

.btn-group a+a {
    margin-left: 15px;
}

/* /page-header */

/* page-company */

/* /page-company */

/* page-grid */
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}

.grid .grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

/* .grid .grid-item p{
    font-size:16px;
    font-weight: 400;
    color: #7581a1;
    line-height: 26px;
} */

.grid .grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;

}

/* /page-grid */

/* page-subscribe */
/* /page-subscribe */

/* page-software */
/* /page-software */

/* page-stat */
.page-stat {
    background-color: #edf6ff;
    padding: 116px 0 96px 0;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}

.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    color: #bacbdc;
    font-size: 60px;
    letter-spacing: 0;
    margin-bottom: 23px;
}

.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2{
    max-width: 500px;
}

/* /page-stat */

/* page-app */
/* /page-app */

/* page-analytics */
/* /page-analytics */

/* page-app2 */
/* /page-app2 */

/* page-screen */
.page-screen {
    background-color: #edf6ff;
    padding: 116px 0 0 0;
    text-align: center;
}
.page-screen .title-h2{
    font-size: 40px;
    letter-spacing: -1.1px;
}
.page-screen .title-h2 span{
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
}
.screen{
    margin-top: 70px;
    margin-bottom: -7px;
}
/* /page-screen */

/* page-clients */
/* /page-clients */

/* page-plan */
.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 30px;
    text-transform: uppercase;
}

/* /page-plan */

/* page-team */
.title-h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.5px;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    color: #1085e4;
    font-weight: 800;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* /page-team */

/* page-form */
/* /page-form */

/* footer */
/* /footer */